<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="re.sourcecode.popularmovies">

    <!-- This permission is necessary in order for the app to perform network access. -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.DarkActionBar">
        <activity
            android:name=".MoviePostersMainActivity"
            android:label="Popular Movies">

           <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".MoviePostersMainActivity" >
            <!-- above and below set for getting a back button in the actionbar of appcompatactivity -->
           <meta-data
               android:name="android.support.PARENT_ACTIVITY"
               android:value=".MoviePostersMainActivity" />
        </activity>

        <activity
            android:name=".MovieDetailActivity"
            android:parentActivityName=".MoviePostersMainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MoviePostersMainActivity" />

        </activity>

        <provider
            android:authorities="@string/content_authority"
            android:name=".data.MovieProvider"
            android:exported="false"
            android:syncable="true"/>
</application>

    </manifest>